<div class="about">
	<div class="container">
		<h2>Sobre mim</h2>
		<hr class="title-bar">

		<div class="content">
			<div class="row">
				<div class="description col-6">
					<p>Meu nome é Yuri Protásio, carioca, 21 anos e apaixonado por tecnologia.</p>
					<hr class="bar">
					<p>Entrei em contato com programação desde os 11 anos e desde então não parei até hoje e mantenho o objetivo de melhorar cada vez mais no que fãço.</p>
					<hr class="bar">
					<p>Meus primeiros trabalhos foram como programador freelancer, desenvolvendo sistemas e apps para pequenos negócios e em seguida trabalhei por alguns anos e até hoje para empresas de médio/grande porte como programador.</p>
					<hr class="bar">
					<p>Estamos falando de uma área que só tende a crescer, programação ja está em praticamente em tudo e por isso quero estar sempre trabalhando imerso nessa área.</p>
					<hr class="bar">
					<p>Veja os serviços que presto abaixo...</p>
				</div>
				<div class="profile col-6">
					<img src="assets/profile.png">
					<p class="name">YURI PROTÁSIO</p>
					<p class="office">FULLSTACK DEVELOPER</p>
					<div class="social-links">
						<a href="#" class="fab fa-facebook-square"></a>
						<a href="#" class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>