<div id="about" class="about">
	<div class="container">
		<h2>Sobre mim</h2>
		<hr class="title-bar">

		<div class="content">
			<div class="row">
				<div class="description col-12 col-sm-12 col-md-6">
					<p>Meu nome é Yuri Protásio, carioca, 21 anos e apaixonado por tecnologia.</p>
					<hr class="bar">
					<p>Entrei em contato com programação desde os 11 anos e desde então não parei até hoje e mantenho o objetivo de melhorar cada vez mais no que faço.</p>
					<hr class="bar">
					<div id="aboutMbTarget"></div>
					<p>Meus primeiros trabalhos foram como programador freelancer, desenvolvendo sistemas e apps para pequenos negócios e em seguida trabalhei por alguns anos e até hoje para empresas de médio/grande porte como programador.</p>
					<hr class="bar">
					<p>Estamos falando de uma área que só tende a crescer, programação já está em praticamente tudo e por isso quero estar sempre trabalhando imerso nessa área.</p>
					<hr class="bar">
					<p>Veja os serviços que presto abaixo...</p>
				</div>
				<div class="profile col-12 col-sm-12 col-md-6">
					<img src="assets/profile.png">
					<p class="name">YURI PROTÁSIO</p>
					<p class="office">FULLSTACK DEVELOPER</p>
					<div class="social-links">
						<a href="https://www.facebook.com/yuriprotasio" target="_blank" class="fab fa-facebook-square"></a>
						<a href="https://www.linkedin.com/in/yuri-prot%C3%A1sio-193133135/" target="_blank" class="fab fa-linkedin"></a>
						<a href="https://github.com/yuriprotasio" target="_blank" class="fab fa-github-square"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>