<div id="contact" class="contact">
	<div class="container">
		<h2>Contato</h2>
		<hr class="title-bar">
		<div class="content">
			<div class="row">
				<div class="text col-12 col-sm-12 col-md-6 mb-5 mb-sm-5 mb-md-0">
					<p>Entre em contato comigo para esclarecer qualquer dúvida ou contratar algum de meus serviços.</p>
					<p>Respondo no mesmo dia, assim que estiver disponível.</p>
					<p>Se precisar conversar comigo, pode me chamar no WhatsApp!</p>
					<div class="d-inline-flex">
						<i class="fab fa-whatsapp"></i><p class="wpp-number">(12) 981528909</p>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6">
					<form>
						<input type="text" name="name" placeholder="Nome">
						<input type="text" name="email" placeholder="Email">
						<input type="text" name="subject" placeholder="Assunto">
						<textarea type="text" name="message" placeholder="Mensagem"></textarea>
						<div class="clearfix">
							<button>Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>