.services {
	text-align: center;
	h2 {
		font-size: 40pt;
		margin-bottom: 0;
	}

	.title-bar {
		margin-top: 15px;
		width: 100px;
		border-bottom: 7px solid #212529;
	}

	.icons {
		img {
			height: 150px;
			width: 150px;
		}
	}

	.description {
		img {
			width: 550px;
		}
	}


}