<div id="services" class="services">
	<div class="container pb-5">
		<h2>Serviços</h2>
		<hr class="title-bar">
		<div class="icons">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3">
					<img src="assets/fast-icon.png">
					<p>Uma aplicação rápida e funcional!</p>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div id="servicesMbTarget"></div>
					<img src="assets/responsive-icon.png">
					<p>Layouts que funcionam em qualquer dispositivo!</p>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<img src="assets/experience-icon.png">
					<p>Uma excelente experiência de uso final!</p>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<img src="assets/dynamic-icon.png">
					<p>Dinâmico para dar mais vida a aplicação!</p>
				</div>
			</div>
		</div>

		<h3>Tecnologias que mais uso e como é meu trabalho</h3>
		<div class="description">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6">
					<img src="assets/technologies.png">
				</div>
				<div class="col-12 col-sm-12 col-md-6 mt-5 mt-sm-5 mt-md-0">
					<p>Sou desenvolvedor full-stack, faço páginas para a internet e aplicativos mobile.</p>
					<hr class="bar">
					<p>Faço recorte de HTML transformando imagens já prontas em páginas com HTML, CSS e Angular ou jQuery.</p>
					<hr class="bar">
					<p>Crio aplicações mobile nativas em Java e aplicações híbridas em Ionic.</p>
					<hr class="bar">
					<p>Sou programador backend também, crio sistemas em Node.js e PHP.</p>
					<hr class="bar">
					<p>Trabalho com os bancos de dados MongoDB, PostgreSQL e MySQL</p>
					<hr class="bar">
					<p>Não trabalho com wordpress pois prefiro e recomendo a criação interfaces administrativas próprias.</p>
				</div>
			</div>
		</div>
	</div>
</div>