<div class="container services">
	<h2>Serviços</h2>
	<hr class="title-bar">
	<div class="icons">
		<div class="row">
			<div class="col-3">
				<img src="assets/fast-icon.png">
				<p>Uma aplicação rapida e funcional!</p>
			</div>
			<div class="col-3">
				<img src="assets/responsive-icon.png">
				<p>Layouts que funcionam em qualquer dispositivo!</p>
			</div>
			<div class="col-3">
				<img src="assets/experience-icon.png">
				<p>Uma excelente experiência de uso final!</p>
			</div>
			<div class="col-3">
				<img src="assets/dynamic-icon.png">
				<p>Dinâmico para dar mais vida a aplicação!</p>
			</div>
		</div>
	</div>

	<div class="description">
		<h3>Tecnologias que mais uso e como é meu trabalho</h3>
		<div class="row">
			<div class="col-6">
				<img src="assets/technologies.png">
			</div>
			<div class="col-6">
				<p>Sou desenvolvedor full-stack, faço páginas para a internet e aplicativos mobile.</p>
				<p>Faço recorte de HTML transformando imagens ja prontas em páginas com HTML, CSS e Angular.</p>
				<p>Crio aplicações mobile nativas em Java e aplicações híbridas em Ionic.</p>
				<p>Sou programador backend também, crio sistemas em Node.js e PHP.</p>
				<p>Trabalho com os bancos de dados MongoDB, PostgreSQL e MySQL</p>
				<p>Não trabalho com wordpress pois prefiro e recomendo a criação interfaces administrativas próprias.</p>
			</div>
		</div>
	</div>

</div>