<div class="should-hire">
	<div class="container">
		<h2>Contrate</h2>
		<hr class="title-bar">
		<h3>Porque você deveria contratar meu serviço</h3>
		<div class="description">
			<div class="row">
				<div class="col-6">
					<img src="assets/processos.png">
				</div>
				<div class="text col-6">
					<p>Apesar da pouca idade, tenho anos de experiência profissional na área e posso entregar as soluções para o seu negócio.</p>
					<hr class="bar">
					<p>É muito importante ter uma aplicação bem feita pois uma mal feita não atrai clientes e as pessoas não irão saber da existência da sua aplicação.</p>
					<hr class="bar">
					<p>A internet possúi um vasto alcance e aplicações web podem impulsionar o seu negócio exponencialmente!</p>
					<hr class="bar">
					<p>Com a fácil localização do site na internet, um design atraente e uma plataforma bem feita, seu produto ou serviço irá vender mais, ser mais bem visto ao público e será mais confiável.</p>
				</div>
			</div>
		</div>
	</div>
</div>