<div class="background">
	<div class="container home-page">
		<h1 id="animated-title" [ngClass]="{'loaded': pageIsLoaded}" class="title-presentation">
			<div class="row">
				<div (mouseenter)="letter1Activated=true" (mouseleave)="letter1Activated=false" [ngClass]="{'animated rubberBand':letter1Activated===true}">O</div>
				<div (mouseenter)="letter2Activated=true" (mouseleave)="letter2Activated=false" [ngClass]="{'animated rubberBand':letter2Activated===true}">l</div>
				<div (mouseenter)="letter3Activated=true" (mouseleave)="letter3Activated=false" [ngClass]="{'animated rubberBand':letter3Activated===true}">á</div>
				<div (mouseenter)="letter4Activated=true" (mouseleave)="letter4Activated=false" [ngClass]="{'animated rubberBand':letter4Activated===true}">,</div>
				<div (mouseenter)="letter5Activated=true" (mouseleave)="letter5Activated=false" [ngClass]="{'animated rubberBand':letter5Activated===true}">&nbsp;e</div>
				<div (mouseenter)="letter6Activated=true" (mouseleave)="letter6Activated=false" [ngClass]="{'animated rubberBand':letter6Activated===true}">u</div>
				<div (mouseenter)="letter7Activated=true" (mouseleave)="letter7Activated=false" [ngClass]="{'animated rubberBand':letter7Activated===true}">&nbsp;s</div>
				<div (mouseenter)="letter8Activated=true" (mouseleave)="letter8Activated=false" [ngClass]="{'animated rubberBand':letter8Activated===true}">o</div>
				<div (mouseenter)="letter9Activated=true" (mouseleave)="letter9Activated=false" [ngClass]="{'animated rubberBand':letter9Activated===true}">u</div>
				<div (mouseenter)="letter10Activated=true" (mouseleave)="letter10Activated=false" [ngClass]="{'animated rubberBand':letter10Activated===true}">&nbsp;Y</div>
				<div (mouseenter)="letter11Activated=true" (mouseleave)="letter11Activated=false" [ngClass]="{'animated rubberBand':letter11Activated===true}">u</div>
				<div (mouseenter)="letter12Activated=true" (mouseleave)="letter12Activated=false" [ngClass]="{'animated rubberBand':letter12Activated===true}">r</div>
				<div (mouseenter)="letter13Activated=true" (mouseleave)="letter13Activated=false" [ngClass]="{'animated rubberBand':letter13Activated===true}">i</div>
				<div (mouseenter)="letter14Activated=true" (mouseleave)="letter14Activated=false" [ngClass]="{'animated rubberBand':letter14Activated===true}">.</div>
			</div>

			<div class="row">
				<div (mouseenter)="letter15Activated=true" (mouseleave)="letter15Activated=false" [ngClass]="{'animated rubberBand':letter15Activated===true}">D</div>
				<div (mouseenter)="letter16Activated=true" (mouseleave)="letter16Activated=false" [ngClass]="{'animated rubberBand':letter16Activated===true}">e</div>
				<div (mouseenter)="letter17Activated=true" (mouseleave)="letter17Activated=false" [ngClass]="{'animated rubberBand':letter17Activated===true}">s</div>
				<div (mouseenter)="letter18Activated=true" (mouseleave)="letter18Activated=false" [ngClass]="{'animated rubberBand':letter18Activated===true}">e</div>
				<div (mouseenter)="letter19Activated=true" (mouseleave)="letter19Activated=false" [ngClass]="{'animated rubberBand':letter19Activated===true}">n</div>
				<div (mouseenter)="letter20Activated=true" (mouseleave)="letter20Activated=false" [ngClass]="{'animated rubberBand':letter20Activated===true}">v</div>
				<div (mouseenter)="letter21Activated=true" (mouseleave)="letter21Activated=false" [ngClass]="{'animated rubberBand':letter21Activated===true}">o</div>
				<div (mouseenter)="letter22Activated=true" (mouseleave)="letter22Activated=false" [ngClass]="{'animated rubberBand':letter22Activated===true}">l</div>
				<div (mouseenter)="letter23Activated=true" (mouseleave)="letter23Activated=false" [ngClass]="{'animated rubberBand':letter23Activated===true}">v</div>
				<div (mouseenter)="letter24Activated=true" (mouseleave)="letter24Activated=false" [ngClass]="{'animated rubberBand':letter24Activated===true}">e</div>
				<div (mouseenter)="letter25Activated=true" (mouseleave)="letter25Activated=false" [ngClass]="{'animated rubberBand':letter25Activated===true}">d</div>
				<div (mouseenter)="letter26Activated=true" (mouseleave)="letter26Activated=false" [ngClass]="{'animated rubberBand':letter26Activated===true}">o</div>
				<div (mouseenter)="letter27Activated=true" (mouseleave)="letter27Activated=false" [ngClass]="{'animated rubberBand':letter27Activated===true}">r</div>
				<div (mouseenter)="letter28Activated=true" (mouseleave)="letter28Activated=false" [ngClass]="{'animated rubberBand':letter28Activated===true}">&nbsp;W</div>
				<div (mouseenter)="letter29Activated=true" (mouseleave)="letter29Activated=false" [ngClass]="{'animated rubberBand':letter29Activated===true}">e</div>
				<div (mouseenter)="letter30Activated=true" (mouseleave)="letter30Activated=false" [ngClass]="{'animated rubberBand':letter30Activated===true}">b</div>
				<div (mouseenter)="letter31Activated=true" (mouseleave)="letter31Activated=false" [ngClass]="{'animated rubberBand':letter31Activated===true}">.</div>
			</div>
		</h1>
		<div class="description">
			<img src="assets/mobile_devices_3.png">
			<p>Seu site na melhor qualidade com as melhores tecnologias.<br>No prazo e em transparência!</p>
		</div>
	</div>
</div>