<div class="background">
	<div class="container home-page">
		<div id="animated-title" [ngClass]="{'loaded': pageIsLoaded}" class="title-presentation">
			<h1>
				<div class="row">
					<span (mouseenter)="letterAnimation($event)">O</span>
					<span (mouseenter)="letterAnimation($event)">l</span>
					<span (mouseenter)="letterAnimation($event)">á</span>
					<span (mouseenter)="letterAnimation($event)">,</span>&nbsp;
					<span (mouseenter)="letterAnimation($event)">e</span>
					<span (mouseenter)="letterAnimation($event)">u</span>&nbsp;
					<span (mouseenter)="letterAnimation($event)">s</span>
					<span (mouseenter)="letterAnimation($event)">o</span>
					<span (mouseenter)="letterAnimation($event)">u</span>&nbsp;
					<span (mouseenter)="letterAnimation($event)">Y</span>
					<span (mouseenter)="letterAnimation($event)">u</span>
					<span (mouseenter)="letterAnimation($event)">r</span>
					<span (mouseenter)="letterAnimation($event)">i</span>
					<span (mouseenter)="letterAnimation($event)">.</span>
				</div>

				<div class="row">
					<span (mouseenter)="letterAnimation($event)">D</span>
					<span (mouseenter)="letterAnimation($event)">e</span>
					<span (mouseenter)="letterAnimation($event)">s</span>
					<span (mouseenter)="letterAnimation($event)">e</span>
					<span (mouseenter)="letterAnimation($event)">n</span>
					<span (mouseenter)="letterAnimation($event)">v</span>
					<span (mouseenter)="letterAnimation($event)">o</span>
					<span (mouseenter)="letterAnimation($event)">l</span>
					<span (mouseenter)="letterAnimation($event)">v</span>
					<span (mouseenter)="letterAnimation($event)">e</span>
					<span (mouseenter)="letterAnimation($event)">d</span>
					<span (mouseenter)="letterAnimation($event)">o</span>
					<span (mouseenter)="letterAnimation($event)">r</span>&nbsp;
					<span (mouseenter)="letterAnimation($event)">W</span>
					<span (mouseenter)="letterAnimation($event)">e</span>
					<span (mouseenter)="letterAnimation($event)">b</span>
					<span (mouseenter)="letterAnimation($event)">.</span>
				</div>
			</h1>
			<div class="row">
				<a href="#" class="contact-button">Entre em contato</a>
			</div>
		</div>
		
		<div [ngClass]="{'loaded': pageIsLoaded}" class="description">
			<img src="assets/mobile_devices_3.png">
			<p>Seu site na melhor qualidade com as melhores tecnologias.<br>No prazo e em transparência!</p>
		</div>
	</div>
	<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
