.background {
	background-image: url("../../assets/city_1.png");
}
.home-page {
	.title-presentation {
		cursor: default;
		opacity: 0;
		transition: opacity 3s;
		top: 30%;
		left: 10%;
		color: white;
		font-size: 46pt;
		font-family: 'Armata', sans-serif;

		.animated.rubberBand {
			color: #00b3b3;
		}
	}

	.title-presentation.loaded {
		opacity: 1;
		transition: opacity 3s;
	}

	.description {
		p {
			position: absolute;
			top: 37%;
			right: 10%;
			font-size: 30pt;
			color: #fff;
			font-weight: 700;
			font-family: 'Armata', sans-serif;
		}
		img {
			top: 37%;
			right: 10%;
		}
		
	}
}